*{
  margin:  0;
  padding:  0;
  box-sizing:  border-box;
  font-family: 'Quicksand', sans-serif;

}

#brand-name {
  font-family: 'Pacifico', cursive;
}

.header {
  font-family: 'Bree Serif', serif;
}

#nav {
  background-color: #f9d0d0;
  
}

#container-register {
  background-color: #f9d0d0;
}

#container-login {
  background-color: #f9d0d0;
}

.prod-list {
  display:  grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;

}

.prod-card{
  display: flex;
  justify-content: space-evenly;

}

#card-view {
  width: 50rem;
  justify-content: center;
}

#link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

#link::before,
#link::after{
  content: '';
  position: absolute;
  left: 0;
  width:  75px;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.25s;


}

#link::before,{
  top: -3px;
  transform-origin: top;

}
#link::after{
 bottom: -3px;
  transform-origin: bottom;
}

#link:hover::before,
#link:hover::after{
  transform: scaleX(1.5);
}


.prod-card{
  box-shadow: 0 0 5px 10px #f9d0d0;
  transition: 0.2s;
}



.prod-card:hover{
  transform: scale(1.2);
  z-index: 2;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

a::before,
a::after{
  content: '';
  position: absolute;
  left: 0;
  width:  40px;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.25s;

}

a::before,{
  top: -3px;
  transform-origin: left;

}
a::after{
 bottom: -3px;
  transform-origin: right;
}

a:hover::before,
a:hover::after{
  transform: scaleX(1.0);
}

.intro-card{
  box-shadow: 0 0 2px 5px #f9d0d0;
}

.shopping-header{
  background-color: #f9d0d0;
}
